extends layout

block content
  .container
    .file
      .file-header
        if icon === 'octicon-file'
          .file-actions
            button.btn-link.muted-link(onclick='hads.save()')
              span.octicon.octicon-check
              |  Save
        span.header-title
            span.octicon(class=icon)
            |  #{title}
      .readme.instapaper_body
        #editor.hidden.markdown-body #{content}
        p.drag-and-drop Attach images by dragging & dropping or&nbsp;
          a.btn-link(onclick='hads.uploadImage()') selecting them
        input#route.hidden(value=route)
        form#form(method='post' action=route)
          input#content(type='hidden' name='content')
