extends layout

block content
  .container
    .file
      .file-header
        if icon === 'octicon-file' && !readonly
          .file-actions
            a.muted-link(href=`${route}?edit=1`)
              span.octicon.octicon-pencil
              |  Edit
        span.header-title
            span.octicon(class=icon)
            |  #{title}
            if (search == null)
              span.file-info-divider
              span.file-modified Last modified #{lastModified}
      .readme.instapaper_body(class={ 'search': search })
        div(class={ 'markdown-body': icon !== 'octicon-file-media'}) !{content}
