doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="shortcut icon", href=`${directory}/_hads/assets/favicon.ico`)
    each style in styles
      link(href=`${directory}/_hads${style}`, rel='stylesheet', type='text/css')
  body
    include header
    block content
    include footer
    include add
    each script in scripts
      script(src=`${directory}/_hads${script}`)
